:root {
  /* Default Variables */
  --defaultTextColor: #000;

  --defaultBorderColor: #ccc;
  --defaultBackgroundColor: #fff;

  --defaultHoverBorderColor: #adadad;
  --defaultHoverBackgroundColor: #e6e6e6;

  --defaultActiveBorderColor: #8c8c8c;
  --defaultActiveBackgroundColor: #d4d4d4;

  /* Primary Variables */
  --primaryTextColor: #fff;

  --primaryBorderColor: #2e6da4;
  --primaryBackgroundColor: #337ab7;

  --primaryHoverBorderColor: #204d74;
  --primaryHoverBackgroundColor: #286090;

  --primaryActiveBorderColor: #204d74;
  --primaryActiveBackgroundColor: #0D3F82;

  /* Info Variables */
  --infoTextColor: #fff;

  --infoBorderColor: #46b8da;
  --infoBackgroundColor: #5bc0de;

  --infoHoverBorderColor: #269abc;
  --infoHoverBackgroundColor: #31b0d5;

  --infoActiveBorderColor: #269abc;
  --infoActiveBackgroundColor: #00A1E1;

  /* Danger Variables */
  --dangerTextColor: #fff;

  --dangerBorderColor: #d43f3a;
  --dangerBackgroundColor: #d9534f;

  --dangerHoverBorderColor: #ac2925;
  --dangerHoverBackgroundColor: #c9302c;

  --dangerActiveBorderColor: #ac2925;
  --dangerActiveBackgroundColor: #B30125;
}
@define-extend .md-btn {
  display: inline-block;
  margin: 5px 0px;
  padding: 5px 30px;
  border-width: 0;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.50);
  border-style: solid;
  border-radius: 0px;
  text-decoration: none;

  font-size: 14px;
  font-weight: 400;

  text-align: center;
  vertical-align: center;

  cursor: pointer;
}

.md-btn:focus {
  outline: none;
}

.md-btn[disabled] {
  box-shadow: none;
  opacity: .65;
}

.md-btn[disabled]:hover {
  cursor: not-allowed;
}

/* default button */
.md-btn-default {
  @extend .md-btn;
  color: var(--defaultTextColor);
  border-color: var(--defaultBorderColor);
  background-color: var(--defaultBackgroundColor);
}

.md-btn-default:hover {
  border-color: var(--defaultHoverBorderColor);
  background-color: var(--defaultHoverBackgroundColor);
}

.md-btn-default:active {
  border-color: var(--defaultActiveBorderColor);
  background-color: var(--defaultActiveBackgroundColor);
}

/* primary button */
.md-btn-primary {
  @extend .md-btn;
  color: var(--primaryTextColor);
  border-color: var(--primaryBorderColor);
  background-color: var(--primaryBackgroundColor);
}

.md-btn-primary:hover {
  border-color: var(--primaryHoverBorderColor);
  background-color: var(--primaryHoverBackgroundColor);
}

.md-btn-primary:active {
  border-color: var(--primaryActiveBorderColor);
  background-color: var(--primaryActiveBackgroundColor);
}

/* info button */
.md-btn-info {
  @extend .md-btn;
  color: var(--infoTextColor);
  border-color: var(--infoBorderColor);
  background-color: var(--infoBackgroundColor);
}

.md-btn-info:hover {
  border-color: var(--infoHoverBorderColor);
  background-color: var(--infoHoverBackgroundColor);
}

.md-btn-info:active {
  border-color: var(--infoActiveBorderColor);
  background-color: var(--infoActiveBackgroundColor);
}

/* danger button */
.md-btn-danger {
  @extend .md-btn;
  color: var(--dangerTextColor);
  border-color: var(--dangerBorderColor);
  background-color: var(--dangerBackgroundColor);
}

.md-btn-danger:hover {
  border-color: var(--dangerHoverBorderColor);
  background-color: var(--dangerHoverBackgroundColor);
}

.md-btn-danger:active {
  border-color: var(--dangerActiveBorderColor);
  background-color: var(--dangerActiveBackgroundColor);
}
